<ul class="nav flex-column">
    <li class="nav-item">
        <a Class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy" asp-route-id="1">Azul</a>
    </li>
    <li class="nav-item">
        <a Class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy" asp-route-id="2">Verde</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Caixas" asp-route-id="3">Quadrados Coloridos 3</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Caixas" asp-route-id="4">Quadrados Coloridos 6</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Caixas" asp-route-id="5">Quadrados Coloridos 9</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Imagem" asp-route-id="6">Imagem 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Imagem" asp-route-id="7">Imagem 2</a>
    </li>
</ul>